@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap");
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: blac;
}

::-webkit-scrollbar {
    background-color: black;
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: #ffc107;
}